
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');


#navbar{
    background-color: #f6df93;
    font-family: 'Black Ops One', cursive;
}

#navbarbrand {
    font-size: 50px;

}

.navbarHeader {
    font-weight: 200;

}

#loginWrapper{
    display: flex;
    flex-wrap: wrap;
}