@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

#donateBtn{
    background-color: #1f92ef;
    font-family: 'Black Ops One', cursive;

}

#mainview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

#pointsbox {
        /* margin-left: 800px;
        margin-top: 50px; */
}

#mainview-header {
    
    font-family: 'Black Ops One', cursive;
}

h3 {
    font-family: 'Black Ops One', cursive;
}

#donatebutton {
    /* margin-top: 800px; */

}
