@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

#donateBtn{
    background-color: #1f92ef;
    font-family: 'Black Ops One', cursive;

}

#mainview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 1em 10em 1em;
    background-color: #a3beaf;
}




#mainview-header {
    
    font-family: 'Black Ops One', cursive;
    color: #f6df93;
    text-shadow: 1px 1px 2px black; 
}

h5 {
    font-family: 'Black Ops One', cursive;
    color: #f6df93;
    text-shadow: 1px 1px 2px black;
}

h3 {
    font-family: 'Black Ops One', cursive;
}

.Messages {
    margin-top: 20em;
}

.bottom-caption {
    margin-top: 55em;

}

#points-caption{
    margin-top: 5em;
}




