@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Lalezar');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');


#loginForm {
  display: flex;
  padding: 5em;
  width: 400px;
  height: 50%;
  /* border: 5px solid black; */
  /* font-family: 'Lalezar', cursive; */
  /* font-family: 'Francois One', sans-serif; */
  
   /* #f6de91; */
  margin-top: 50px;
  margin-left: 50px;
}
#loginheader {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 40px;
  color: #a5bdb0;
}
.loginbuttons {
  color: #a5bdb0;
}

#loginWrapper {
  display: flex;
  justify-content: left;
  background-image: url(../login/Fiji.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: round;
  position: absolute;
}

#registerForm {
  font-family: 'Black Ops One', cursive;  
  color:  #a5bdb0;
  display: flex;
  padding: 5em;
  width: 400px;
  height: 50%;
  margin-top: 50px;
  margin-left: 50px;
}

#registerWrapper{
  display: flex;
  justify-content: left;
  background-image: url(../login/Fiji.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: round;
  position: absolute;
}


#registerheader {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 40px;
  color: #a5bdb0;

}

::placeholder {
  font-family: 'Times New Roman', Times, serif;
}
input {
  

}