@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

#predictionListWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center
}

#predictionTable {
    width: 75%;
    margin-top: 30px;
    border: 10px solid black;
    
}
.predictionHeader {
font-family: 'Black Ops One', cursive;
font-size: 25px;
}

#predHead {
    background-color: #f6df93;
}

.submit_btn {
    font-family: 'Black Ops One', cursive;
    width: 150px;
    background-color: #1f92ef;

}

#predictionList {
    margin-top: 130px;
    margin-left: 60px;
}